.lien_cliquable {
    &:hover {
        background-color: $couleur_selection;
        box-shadow: 2px 2px 2px $black;
        width: 20%;
        height: 300px;
        transform: translateY(90%) translateX(100%) scale(2);
        transition: transform 330ms ease-in-out;
    }
    &.gauche:hover {
        transform: translateY(100%) translateX(-100%) scale(2);
        transition: transform 330ms ease-in-out;
    }
    &.haut:hover {
        transform: translateY(-80%) translateX(110%) scale(2);
        transition: transform 330ms ease-in-out;
    }
    &.centre:hover {
        transform: translateY(-80%) translateX(-100%) scale(2);
        transition: transform 330ms ease-in-out;
    }
}

button {
    &:hover {
        background-color: $couleur_selection;
        animation: button 0.7s steps(3);
        box-shadow: 2px 2px 2px $black;
        transform: translateX(0) scale(1);
        animation: button 0.7s 100ms ease-in-out;
        @keyframes button {
            from {
                transform: rotate(3deg);
            }
            30% {
                transform: rotate(0deg);
            }
            60% {
                transform: rotate(3deg);
            }
            80% {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(3deg);
            }
        }
    }
    &:active {
        border: 1px 1px 1px $black;
        transform: scale(0.9);
    }
}

.anim {
    border: 1px solid black;
    display: flex;
}

button {
    &:hover {
        .rond {
            background-color: black;
            box-shadow: 2px 2px 2px $black;
            transform: translateX(0) scale(1);
            animation: suspension 1s 300ms ease-in-out infinite;
            @keyframes suspension {
                from {
                    border: 1px solid black;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                }
                50% {
                    border: 1px solid black;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                }
                to {
                    border: 1px solid white;
                    background-color: white;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                }
            }
        }
    }
    &:hover {
        .rond-2 {
            background-color: black;
            box-shadow: 2px 2px 2px $black;
            transform: translateX(0) scale(1);
            animation: suspension_2 2s 350ms ease-in-out infinite;
            @keyframes suspension_2 {
                from {
                    border: 1px solid black;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                }
                to {
                    border: 1px solid black;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                }
            }
        }
    }
    &:hover {
        .rond-3 {
            background-color: black;
            box-shadow: 2px 2px 2px $black;
            transform: translateX(0) scale(1);
            animation: suspension_2 3s 400ms ease-in-out infinite;
            @keyframes suspension_2 {
                from {
                    border: 1px solid black;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                }
                to {
                    border: 1px solid black;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                }
            }
        }
    }
}