@font-face {
    font-family: 'Lobster-Regular';
    src: url('../polices/lobster/Lobster-Regular.eot');
    src: url('../polices/lobster/Lobster-Regular.eot?#iefix') format('embedded-opentype'), url('../polices/lobster/Lobster-Regular.ttf') format('truetype'), url('../polices/lobster/Lobster-Regular.svg#Lobster-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BalsamiqSans-Bold';
    src: url('../polices/balsamiq/BalsamiqSans-Bold.eot');
    src: url('../polices/balsamiq/BalsamiqSans-Bold.eot?#iefix') format('embedded-opentype'), url('../polices/balsamiq/BalsamiqSans-Bold.ttf') format('truetype'), url('../polices/balsamiq/BalsamiqSans-Bold.svg#BalsamiqSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aladin-Regular';
    src: url('../polices/aladin/Aladin-Regular.eot');
    src: url('../polices/aladin/Aladin-Regular.eot?#iefix') format('embedded-opentype'), url('../polices/aladin/Aladin-Regular.ttf') format('truetype'), url('../polices/aladin/Aladin-Regular.svg#Aladin-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arizonia-Regular';
    src: url('../polices/arizonia/Arizonia-Regular.eot');
    src: url('../polices/arizonia/Arizonia-Regular.eot?#iefix') format('embedded-opentype'), url('../polices/arizonia/Arizonia-Regular.ttf') format('truetype'), url('../polices/arizonia/Arizonia-Regular.svg#Arizonia-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KaushanScript-Regular';
    src: url('../polices/kaushan/KaushanScript-Regular.eot');
    src: url('../polices/kaushan/KaushanScript-Regular.eot?#iefix') format('embedded-opentype'), url('../polices/kaushan/KaushanScript-Regular.ttf') format('truetype'), url('../polices/kaushan/KaushanScript-Regular.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KronaOne-Regular';
    src: url('../polices/krona/KronaOne-Regular.eot');
    src: url('../polices/krona/KronaOne-Regular.eot?#iefix') format('embedded-opentype'), url('../polices/krona/KronaOne-Regular.ttf') format('truetype'), url('../polices/krona/KronaOne-Regular.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}