@font-face {
    font-family: 'Lobster-Regular';
    src: url('../polices/lobster/Lobster-Regular.eot');
    src: url('../polices/lobster/Lobster-Regular.eot?#iefix') format('embedded-opentype'), url('../polices/lobster/Lobster-Regular.ttf') format('truetype'), url('../polices/lobster/Lobster-Regular.svg#Lobster-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}