@font-face {
    font-family: 'Lobster-Regular';
    src: url('C:/Users/steph/OneDrive/Bureau/homyfood/homyfood/polices/lobster/Lobster-Regular.eot');
    src: url('C:/Users/steph/OneDrive/Bureau/homyfood/homyfood/polices/lobster/Lobster-Regular.eot?#iefix') format('embedded-opentype'), url('C:/Users/steph/OneDrive/Bureau/homyfood/homyfood/polices/lobster/Lobster-Regular.ttf') format('truetype'), url('C:/Users/steph/OneDrive/Bureau/homyfood/homyfood/polices/lobster/Lobster-Regular.svg#Lobster-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}