@import "variable.scss";
@import "minxin.scss";
@import "animation.scss";
@import "polices.scss";
nav {
    width: 100%;
    height: 100px;
    background-color: $couleur_principal;
    @include navigation();
}

body {
    @include elementcentre();
    font-family: 'Lobster-Regular';
}

h1 {
    font-family: 'KronaOne-Regular', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: $color_titre;
    text-transform: uppercase;
}

.lien_cliquable {
    @include cliencliquable();
    width: 20%;
    height: 400px;
    color: $black;
    border: none;
    margin: 5% 0 5% 0;
    background-color: $couleur_selection;
    font-family: 'BalsamiqSans-Bold', arial, sans-serif;
    &.gauche {
        background-color: $couleur_lien;
        font-family: 'Aladin-Regular';
    }
    &.haut {
        font-family: 'Arizonia-Regular';
        background-color: $couleur_lien;
    }
    &.centre {
        font-family: 'KaushanScript-Regular';
        background-color: $couleur_lien;
    }
}

.gradient_chic {
    background: -webkit-gradient(linear, left bottom, right bottom, from(#cc9900), to(#9966ff));
    @include degrader();
}

.gradient_papille {
    background: -webkit-gradient(linear, left bottom, right bottom, from(#0033cc), to(#0099ff));
    @include degrader();
}

.gradient_palette {
    background: -webkit-gradient(linear, left bottom, right bottom, from(#339933), to(#ccff66));
    @include degrader();
}

.menu_papille {
    color: #0099ff;
    @include text_majuscule();
}

.menu_chic {
    color: #cc6600;
    @include text_majuscule();
}

.menu_palette {
    color: #66cc66;
    @include text_majuscule();
}

.container {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

footer {
    background-color: $couleur_principal;
    position: fixed;
    width: 100%;
    height: 100px;
    & a {
        color: $color_titre;
        text-decoration: none;
    }
    & .container_footer {
        display: flex;
        justify-content: space-between;
        padding: 0.5% 0.5% 0.5% 0.5%;
        font-family: 'KronaOne-Regular', Arial, Helvetica, sans-serif;
    }
    & .lien_footer {
        width: 15%;
        display: flex;
        justify-content: center;
    }
}

button {
    width: 20%;
    height: 50px;
    background-color: $couleur_principal;
    color: $color_titre;
    @include button();
}

.anim {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}