@import "variable.scss";
@import "minxin.scss";
@import "animation.scss";
@import "polices.scss";
nav {
    width: $width100;
    height: $height200;
    background-color: $couleur_principal;
    @include navigation();
}

body {
    @include elementcentre();
    font-family: 'Lobster-Regular';
}

a {
    @include cliencliquable();
    width: $width100/5;
    height: $height200*2;
    color: $black;
    border: $border;
    margin: 5% 0 5% 0;
}

.container {
    display: flex;
    width: $width100/1.1;
    justify-content: space-around;
}

button {
    width: $width100/3.3;
    height: $height200/4;
    @include button();
}

footer {
    background-color: $couleur_principal;
    width: $width100;
    height: $height200/2;
    display: flex;
    justify-content: space-between;
}