@font-face {
  font-family: 'Lobster-Regular';
  src: url("../polices/lobster/Lobster-Regular.eot");
  src: url("../polices/lobster/Lobster-Regular.eot?#iefix") format("embedded-opentype"), url("../polices/lobster/Lobster-Regular.ttf") format("truetype"), url("../polices/lobster/Lobster-Regular.svg#Lobster-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'BalsamiqSans-Bold';
  src: url("../polices/balsamiq/BalsamiqSans-Bold.eot");
  src: url("../polices/balsamiq/BalsamiqSans-Bold.eot?#iefix") format("embedded-opentype"), url("../polices/balsamiq/BalsamiqSans-Bold.ttf") format("truetype"), url("../polices/balsamiq/BalsamiqSans-Bold.svg#BalsamiqSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Aladin-Regular';
  src: url("../polices/aladin/Aladin-Regular.eot");
  src: url("../polices/aladin/Aladin-Regular.eot?#iefix") format("embedded-opentype"), url("../polices/aladin/Aladin-Regular.ttf") format("truetype"), url("../polices/aladin/Aladin-Regular.svg#Aladin-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Arizonia-Regular';
  src: url("../polices/arizonia/Arizonia-Regular.eot");
  src: url("../polices/arizonia/Arizonia-Regular.eot?#iefix") format("embedded-opentype"), url("../polices/arizonia/Arizonia-Regular.ttf") format("truetype"), url("../polices/arizonia/Arizonia-Regular.svg#Arizonia-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'KaushanScript-Regular';
  src: url("../polices/kaushan/KaushanScript-Regular.eot");
  src: url("../polices/kaushan/KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("../polices/kaushan/KaushanScript-Regular.ttf") format("truetype"), url("../polices/kaushan/KaushanScript-Regular.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'KronaOne-Regular';
  src: url("../polices/krona/KronaOne-Regular.eot");
  src: url("../polices/krona/KronaOne-Regular.eot?#iefix") format("embedded-opentype"), url("../polices/krona/KronaOne-Regular.ttf") format("truetype"), url("../polices/krona/KronaOne-Regular.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }
nav {
  width: 100%;
  height: 100px;
  background-color: #669999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 5rem; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lobster-Regular', Arial, Helvetica, sans-serif; }

h1 {
  font-family: 'KronaOne-Regular', Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #ffcc33; }

.lien_cliquable {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 400px;
  color: #000000;
  border: none;
  margin: 5% 0 5% 0;
  background-color: #ffcccc;
  font-family: 'BalsamiqSans-Bold', arial, sans-serif; }
  .lien_cliquable.gauche {
    background-color: #fff5fe;
    font-family: 'Aladin-Regular'; }
  .lien_cliquable.haut {
    font-family: 'Arizonia-Regular';
    background-color: #fff5fe; }
  .lien_cliquable.centre {
    font-family: 'KaushanScript-Regular';
    background-color: #fff5fe; }

.gradient_chic {
  background: -webkit-gradient(linear, left bottom, right bottom, from(#cc9900), to(#9966ff));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem; }

.gradient_papille {
  background: -webkit-gradient(linear, left bottom, right bottom, from(#0033cc), to(#0099ff));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem; }

.gradient_palette {
  background: -webkit-gradient(linear, left bottom, right bottom, from(#339933), to(#ccff66));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem; }

.menu_papille {
  color: #0099ff;
  text-transform: uppercase;
  font-size: 2rem; }

.menu_chic {
  color: #cc6600;
  text-transform: uppercase;
  font-size: 2rem; }

.menu_palette {
  color: #66cc66;
  text-transform: uppercase;
  font-size: 2rem; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

footer {
  position: absolute;
  left: 0;
  bottom: 20px; }

.for_footer {
  width: 100%; }
  .for_footer a {
    color: #ffcc33;
    text-decoration: none; }
  .for_footer .container_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: fixed;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: 'KronaOne-Regular', Arial, Helvetica, sans-serif;
    background-color: #669999; }
  .for_footer .lien_footer {
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.btn {
  width: 20%;
  height: 50px;
  background-color: #669999;
  color: #ffcc33;
  border-radius: 1rem;
  outline: none;
  margin: 0 0 5% 0;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 40.5%;
  top: 189%; }

.container_anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
/*# sourceMappingURL=style.css.map */