@import "variable/variable.scss";
img {
    display: none;
}

.container {
    &--delice_papille {
        width: 95%;
        margin-bottom: 20%;
    }
}

.titre_page {
    margin-bottom: 2%;
}

article {
    font-size: 1.2rem;
}

.prix {
    width: 25%;
    justify-content: flex-end;
    align-items: center;
}

.titre_nav article {
    font-size: 2rem;
}

.for_footer {
    position: absolute;
    left: 0;
    bottom: 40px;
}

footer {
    width: 100%;
    & a {
        color: $color_titre;
        text-decoration: none;
    }
    & .container_footer {
        font-size: 0.9rem;
    }
    & .lien_footer {
        width: 50%;
    }
}

h6 {
    font-size: 1.2rem;
    margin: 1% 0 1% 0;
}