@import "variable/variable.scss";
@import "animation/animation_menu.scss";
.container {
    &--delice_papille {
        margin-bottom: 10%;
    }
}

.for_footer {
    bottom: 40px;
}

footer {
    width: 100%;
    & .container_footer {
        display: flex;
        width: 100%;
        height: 40px;
        font-size: 0.9rem;
    }
}

h6,
.prix {
    font-size: 1.5rem;
    margin: 1% 0 1% 0;
}

.delice {
    margin-top: -10%;
}

.underline {
    height: 75px;
}