body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    &--delice_papille {
        margin-bottom: 10%;
    }
}

footer {
    margin-top: 28%;
}