@import "variable_responsive/variable_responsive.scss";
@import "animation/_animation.scss";
nav {
    height: 150px;
}

h1 {
    font-size: 4rem;
}

.lien_cliquable {
    height: 700px;
    font-size: 2.5rem;
}

.gradient_chic,
.gradient_papille,
.gradient_palette,
h2 {
    font-size: 2.5rem;
}

.btn {
    height: 80px;
    width: 30%;
    &-text {
        font-size: 3.5rem;
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 100px;
}

.for_footer {
    & a {
        text-decoration: none;
        font-size: 2rem;
    }
    & .container_footer {
        display: flex;
        height: 100px;
        position: fixed;
        justify-content: space-around;
        font-family: 'KronaOne-Regular', Arial, Helvetica, sans-serif;
        background-color: $couleur_principal;
    }
    & .lien_footer {
        display: flex;
        justify-content: center;
    }
}

.anim {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 42%;
    top: 287%;
}