@import "variable_responsive/variable_responsive.scss";
@import "animation/_animation.scss";
nav {
    height: 150px;
}

h1 {
    font-size: 4rem;
}

.lien_cliquable {
    height: 700px;
    font-size: 2.5rem;
}

.gradient_chic,
.gradient_papille,
.gradient_palette,
h2 {
    font-size: 2.5rem;
}

.btn {
    height: 80px;
    width: 30%;
    &-text {
        font-size: 3.5rem;
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 100px;
}

.for_footer {
    & a {
        text-decoration: none;
        font-size: 2rem;
    }
    & .container_footer {
        display: flex;
        height: 100px;
        position: fixed;
        justify-content: space-around;
        font-family: 'KronaOne-Regular', Arial, Helvetica, sans-serif;
        background-color: $couleur_principal;
    }
    & .lien_footer {
        display: flex;
        justify-content: center;
    }
}

.btn {
    width: 20%;
}

.anim {
    align-content: center;
    width: 90%;
}

.container_anim {
    display: flex;
}

.lien_cliquable {
    &:hover {
        p {
            animation: molten_paragraphe 3s 330ms linear;
            @keyframes molten_paragraphe {
                from {
                    font-size: 2.5rem;
                }
                to {
                    font-size: 3rem;
                }
            }
        }
        h2 {
            animation: molten_title 3s 330ms linear;
            @keyframes molten_title {
                from {
                    font-size: 2.5rem;
                }
                to {
                    font-size: 3rem;
                }
            }
        }
        & {
            animation: background_molten 3s 330ms linear;
            @keyframes background_molten {
                from {
                    background-color: $couleur_selection;
                }
                to {
                    background-color: white;
                }
            }
        }
    }
    &.gauche:hover {
        p {
            animation: molten_paragraphe_gauche 3s 330ms linear;
            @keyframes molten_paragraphe_gauche {
                from {
                    font-size: 2.5rem;
                }
                to {
                    font-size: 3rem;
                }
            }
        }
        h2 {
            animation: molten_title_gauche 3s 330ms linear;
            @keyframes molten_title_gauche {
                from {
                    font-size: 2.5rem;
                }
                to {
                    font-size: 3rem;
                }
            }
        }
        & {
            animation: background_molten_gauche 3s 330ms linear;
            @keyframes background_molten_gauche {
                from {
                    background-color: $couleur_lien;
                }
                to {
                    background-color: white;
                }
            }
        }
    }
    &.haut:hover {
        p {
            animation: molten_paragraphe_haut 3s 330ms linear;
            @keyframes molten_paragraphe_haut {
                from {
                    font-size: 2.5rem;
                }
                to {
                    font-size: 3rem;
                }
            }
        }
        h2 {
            animation: molten_title_haut 3s 330ms linear;
            @keyframes molten_title_haut {
                from {
                    font-size: 2.5rem;
                }
                to {
                    font-size: 3rem;
                }
            }
        }
        & {
            animation: background_molten_haut 3s 330ms linear;
            @keyframes background_molten_haut {
                from {
                    background-color: $couleur_lien;
                }
                to {
                    background-color: white;
                }
            }
        }
    }
    &.centre:hover {
        p {
            animation: molten_paragraphe_centre 3s 330ms linear;
            @keyframes molten_paragraphe_centre {
                from {
                    font-size: 2.5rem;
                }
                to {
                    font-size: 3rem;
                }
            }
        }
        h2 {
            animation: molten_title_centre 3s 330ms linear;
            @keyframes molten_title_centre {
                from {
                    font-size: 2.5rem;
                }
                to {
                    font-size: 3rem;
                }
            }
        }
        & {
            animation: background_molten_centre 3s 330ms linear;
            @keyframes background_molten_centre {
                from {
                    background-color: $couleur_lien;
                }
                to {
                    background-color: white;
                }
            }
        }
    }
}