@import "_mixin_responsive.scss";
@import "variable_responsive/_variable_responsive.scss";
@import "mixin_responsive/_mixin_responsive.scss";
nav {
    width: 100%;
    height: 100px;
    background-color: $couleur_principal;
}

body {
    @include elementcenter();
}

h1 {
    font-size: 3rem;
    color: $color_titre;
    text-transform: uppercase;
}

.lien_cliquable {
    width: 20%;
    height: 400px;
    color: $black;
    border: none;
    margin: 5% 0 5% 0;
    background-color: $couleur_selection;
}

.menu_papille {
    color: #0099ff;
}

.menu_chic {
    color: #cc6600;
}

.menu_palette {
    color: #66cc66;
}

.container {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

footer {
    background-color: $couleur_principal;
    position: fixed;
    width: 100%;
    height: 100px;
    & a {
        color: $color_titre;
        text-decoration: none;
    }
    & .container_footer {
        display: flex;
        justify-content: space-between;
        padding: 0.5% 0.5% 0.5% 0.5%;
    }
    & .lien_footer {
        width: 15%;
        display: flex;
        justify-content: center;
    }
}

button {
    width: 20%;
    height: 50px;
    background-color: $couleur_principal;
    color: $color_titre;
}

.anim {
    display: flex;
    justify-content: flex-end;
}

.container_anim {
    display: flex;
    position: relative;
    left: 80%;
    bottom: 3rem;
}