@font-face {
  font-family: 'Lobster-Regular';
  src: url("../polices/lobster/Lobster-Regular.eot");
  src: url("../polices/lobster/Lobster-Regular.eot?#iefix") format("embedded-opentype"), url("../polices/lobster/Lobster-Regular.ttf") format("truetype"), url("../polices/lobster/Lobster-Regular.svg#Lobster-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'BalsamiqSans-Bold';
  src: url("../polices/balsamiq/BalsamiqSans-Bold.eot");
  src: url("../polices/balsamiq/BalsamiqSans-Bold.eot?#iefix") format("embedded-opentype"), url("../polices/balsamiq/BalsamiqSans-Bold.ttf") format("truetype"), url("../polices/balsamiq/BalsamiqSans-Bold.svg#BalsamiqSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Aladin-Regular';
  src: url("../polices/aladin/Aladin-Regular.eot");
  src: url("../polices/aladin/Aladin-Regular.eot?#iefix") format("embedded-opentype"), url("../polices/aladin/Aladin-Regular.ttf") format("truetype"), url("../polices/aladin/Aladin-Regular.svg#Aladin-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Arizonia-Regular';
  src: url("../polices/arizonia/Arizonia-Regular.eot");
  src: url("../polices/arizonia/Arizonia-Regular.eot?#iefix") format("embedded-opentype"), url("../polices/arizonia/Arizonia-Regular.ttf") format("truetype"), url("../polices/arizonia/Arizonia-Regular.svg#Arizonia-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'KaushanScript-Regular';
  src: url("../polices/kaushan/KaushanScript-Regular.eot");
  src: url("../polices/kaushan/KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("../polices/kaushan/KaushanScript-Regular.ttf") format("truetype"), url("../polices/kaushan/KaushanScript-Regular.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'KronaOne-Regular';
  src: url("../polices/krona/KronaOne-Regular.eot");
  src: url("../polices/krona/KronaOne-Regular.eot?#iefix") format("embedded-opentype"), url("../polices/krona/KronaOne-Regular.ttf") format("truetype"), url("../polices/krona/KronaOne-Regular.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }
.container {
  display: block;
  width: 100%;
  margin-top: 2%; }

h1 {
  font-family: 'KronaOne-Regular', Arial, Helvetica, sans-serif;
  text-transform: uppercase; }

nav {
  width: 100%;
  background-color: #669999;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center; }

.lien_cliquable {
  display: block;
  width: 100%;
  margin-top: 5%;
  text-align: center;
  background-color: #ffcccc;
  color: black; }
  .lien_cliquable.gauche {
    background-color: #fff5fe;
    font-family: 'Aladin-Regular';
    height: 150px;
    font-size: 1.5rem; }
  .lien_cliquable.haut {
    font-family: 'Arizonia-Regular';
    background-color: #fff5fe;
    height: 150px;
    font-size: 1.5rem; }
  .lien_cliquable.centre {
    font-family: 'KaushanScript-Regular';
    background-color: #fff5fe;
    height: 150px;
    font-size: 1.5rem; }

a {
  text-decoration: none; }

button {
  width: auto;
  height: 50px;
  color: #ffcc33;
  background-color: #669999;
  border: none;
  outline: none;
  font-size: 2rem;
  border-radius: 1rem;
  margin: 5% 0 5% 0;
  font-size: 2rem; }

.for_footer {
  position: absolute;
  left: 0;
  bottom: 20px; }

footer {
  width: 100%; }
  footer a {
    color: #ffcc33;
    text-decoration: none; }
  footer .container_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 0.8rem;
    position: fixed;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: 'KronaOne-Regular', Arial, Helvetica, sans-serif;
    background-color: #669999; }
  footer .lien_footer {
    width: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.gradient_chic {
  background: -webkit-gradient(linear, left bottom, right bottom, from(#cc9900), to(#9966ff));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem; }

.gradient_papille {
  background: -webkit-gradient(linear, left bottom, right bottom, from(#0033cc), to(#0099ff));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem; }

.gradient_palette {
  background: -webkit-gradient(linear, left bottom, right bottom, from(#339933), to(#ccff66));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem; }

/*# sourceMappingURL=max_width_1024px.css.map */