@import "_mixin_responsive.scss";
@import "variable_responsive/variable_responsive.scss";
.container {
    display: block;
    width: 100%;
    margin-top: 2%;
}

body {
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

nav {
    width: 100%;
    background-color: $couleur_principal;
    height: 80px;
}

.lien_cliquable {
    display: block;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    background-color: $couleur_selection;
}

a {
    text-decoration: none;
}

button {
    width: auto;
    height: 50px;
    color: $color_titre;
    background-color: $couleur_principal;
    border: none;
    outline: none;
    font-size: 2rem;
    border-radius: 1rem;
    margin: 5% 0 5% 0;
    font-size: 2rem;
}

.for_footer {
    position: absolute;
    left: 0;
    bottom: 20px;
}

footer {
    width: 100%;
    border: 1px solid black;
    & a {
        color: $color_titre;
        text-decoration: none;
    }
    & .container_footer {
        display: flex;
        width: 100%;
        position: fixed;
        justify-content: space-between;
        font-family: 'KronaOne-Regular', Arial, Helvetica, sans-serif;
        background-color: $couleur_principal;
    }
    & .lien_footer {
        width: 15%;
        display: flex;
        justify-content: center;
    }
}