.lien_cliquable:hover p {
  -webkit-animation: molten_paragraphe 3s 330ms linear;
          animation: molten_paragraphe 3s 330ms linear; }
@-webkit-keyframes molten_paragraphe {
  from {
    font-size: 1rem; }
  to {
    font-size: 1.5rem; } }
@keyframes molten_paragraphe {
  from {
    font-size: 1rem; }
  to {
    font-size: 1.5rem; } }
.lien_cliquable:hover h2 {
  -webkit-animation: molten_title 3s 330ms linear;
          animation: molten_title 3s 330ms linear; }
@-webkit-keyframes molten_title {
  from {
    font-size: 1.5rem; }
  to {
    font-size: 2rem; } }
@keyframes molten_title {
  from {
    font-size: 1.5rem; }
  to {
    font-size: 2rem; } }
.lien_cliquable:hover {
  -webkit-animation: background_molten 3s 330ms linear;
          animation: background_molten 3s 330ms linear; }
@-webkit-keyframes background_molten {
  from {
    background-color: #ffcccc; }
  to {
    background-color: white; } }
@keyframes background_molten {
  from {
    background-color: #ffcccc; }
  to {
    background-color: white; } }
.lien_cliquable.gauche:hover p {
  -webkit-animation: molten_paragraphe_gauche 3s 330ms linear;
          animation: molten_paragraphe_gauche 3s 330ms linear; }
@-webkit-keyframes molten_paragraphe_gauche {
  from {
    font-size: 1.5rem; }
  to {
    font-size: 2rem; } }
@keyframes molten_paragraphe_gauche {
  from {
    font-size: 1.5rem; }
  to {
    font-size: 2rem; } }
.lien_cliquable.gauche:hover h2 {
  -webkit-animation: molten_title_gauche 3s 330ms linear;
          animation: molten_title_gauche 3s 330ms linear; }
@-webkit-keyframes molten_title_gauche {
  from {
    font-size: 2rem; }
  to {
    font-size: 2.5rem; } }
@keyframes molten_title_gauche {
  from {
    font-size: 2rem; }
  to {
    font-size: 2.5rem; } }
.lien_cliquable.gauche:hover {
  -webkit-animation: background_molten_gauche 3s 330ms linear;
          animation: background_molten_gauche 3s 330ms linear; }
@-webkit-keyframes background_molten_gauche {
  from {
    background-color: #fff5fe; }
  to {
    background-color: white; } }
@keyframes background_molten_gauche {
  from {
    background-color: #fff5fe; }
  to {
    background-color: white; } }
.lien_cliquable.haut:hover p {
  -webkit-animation: molten_paragraphe_haut 3s 330ms linear;
          animation: molten_paragraphe_haut 3s 330ms linear; }
@-webkit-keyframes molten_paragraphe_haut {
  from {
    font-size: 1.5rem; }
  to {
    font-size: 2rem; } }
@keyframes molten_paragraphe_haut {
  from {
    font-size: 1.5rem; }
  to {
    font-size: 2rem; } }
.lien_cliquable.haut:hover h2 {
  -webkit-animation: molten_title_haut 3s 330ms linear;
          animation: molten_title_haut 3s 330ms linear; }
@-webkit-keyframes molten_title_haut {
  from {
    font-size: 2rem; }
  to {
    font-size: 2.5rem; } }
@keyframes molten_title_haut {
  from {
    font-size: 2rem; }
  to {
    font-size: 2.5rem; } }
.lien_cliquable.haut:hover {
  -webkit-animation: background_molten_haut 3s 330ms linear;
          animation: background_molten_haut 3s 330ms linear; }
@-webkit-keyframes background_molten_haut {
  from {
    background-color: #fff5fe; }
  to {
    background-color: white; } }
@keyframes background_molten_haut {
  from {
    background-color: #fff5fe; }
  to {
    background-color: white; } }
.lien_cliquable.centre:hover p {
  -webkit-animation: molten_paragraphe_centre 3s 330ms linear;
          animation: molten_paragraphe_centre 3s 330ms linear; }
@-webkit-keyframes molten_paragraphe_centre {
  from {
    font-size: 1.5rem; }
  to {
    font-size: 2rem; } }
@keyframes molten_paragraphe_centre {
  from {
    font-size: 1.5rem; }
  to {
    font-size: 2rem; } }
.lien_cliquable.centre:hover h2 {
  -webkit-animation: molten_title_centre 3s 330ms linear;
          animation: molten_title_centre 3s 330ms linear; }
@-webkit-keyframes molten_title_centre {
  from {
    font-size: 2rem; }
  to {
    font-size: 2.5rem; } }
@keyframes molten_title_centre {
  from {
    font-size: 2rem; }
  to {
    font-size: 2.5rem; } }
.lien_cliquable.centre:hover {
  -webkit-animation: background_molten_centre 3s 330ms linear;
          animation: background_molten_centre 3s 330ms linear; }
@-webkit-keyframes background_molten_centre {
  from {
    background-color: #fff5fe; }
  to {
    background-color: white; } }
@keyframes background_molten_centre {
  from {
    background-color: #fff5fe; }
  to {
    background-color: white; } }
.btn:hover .rond {
  -webkit-animation: suspension 3s 600ms ease-in-out;
          animation: suspension 3s 600ms ease-in-out;
  margin: 1% 1% 1% 1%; }
@-webkit-keyframes suspension {
  from {
    background-color: black;
    width: 12px;
    height: 12px;
    border-radius: 12px; }
  to {
    background-color: #579c87;
    border: #579c87;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    -webkit-box-shadow: none;
            box-shadow: none; } }
@keyframes suspension {
  from {
    background-color: black;
    width: 12px;
    height: 12px;
    border-radius: 12px; }
  to {
    background-color: #579c87;
    border: #579c87;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    -webkit-box-shadow: none;
            box-shadow: none; } }
.btn:hover .rond-2 {
  -webkit-animation: suspension_2 3s 900ms ease-in-out;
          animation: suspension_2 3s 900ms ease-in-out;
  margin: 1% 1% 1% 1%; }
@-webkit-keyframes suspension_2 {
  from {
    background-color: black;
    width: 12px;
    height: 12px;
    border-radius: 12px; }
  to {
    background-color: #579c87;
    border: #579c87;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    -webkit-box-shadow: none;
            box-shadow: none; } }
@keyframes suspension_2 {
  from {
    background-color: black;
    width: 12px;
    height: 12px;
    border-radius: 12px; }
  to {
    background-color: #579c87;
    border: #579c87;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    -webkit-box-shadow: none;
            box-shadow: none; } }
.btn:hover .rond-3 {
  -webkit-animation: suspension_2 3s 1200ms ease-in-out;
          animation: suspension_2 3s 1200ms ease-in-out;
  margin: 1% 1% 1% 1%; }
@keyframes suspension_2 {
  from {
    background-color: black;
    width: 12px;
    height: 12px;
    border-radius: 12px; }
  to {
    background-color: #579c87;
    border: #579c87;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    -webkit-box-shadow: none;
            box-shadow: none; } }
.wiggle:hover {
  -webkit-animation: wiggle_animation 300ms ease-in-out;
          animation: wiggle_animation 300ms ease-in-out; }
@-webkit-keyframes wiggle_animation {
  from {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); } }
@keyframes wiggle_animation {
  from {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); } }
.lien_footer--responsive:hover {
  -webkit-animation: wiggle_animation 300ms ease-in-out;
          animation: wiggle_animation 300ms ease-in-out; }
@keyframes wiggle_animation {
  from {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); } }
#afficher:hover {
  -webkit-animation: wiggle_animation_afficher 300ms ease-in-out;
          animation: wiggle_animation_afficher 300ms ease-in-out; }
@-webkit-keyframes wiggle_animation_afficher {
  from {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); } }
@keyframes wiggle_animation_afficher {
  from {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); } }
nav {
  height: 150px; }

h1 {
  font-size: 4rem; }

.lien_cliquable {
  height: 700px;
  font-size: 2.5rem; }

.gradient_chic,
.gradient_papille,
.gradient_palette,
h2 {
  font-size: 2.5rem; }

.btn {
  height: 80px;
  width: 30%; }
  .btn-text {
    font-size: 3.5rem; }

footer {
  position: absolute;
  left: 0;
  bottom: 100px; }

.for_footer a {
  text-decoration: none;
  font-size: 2rem; }
.for_footer .container_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  position: fixed;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'KronaOne-Regular', Arial, Helvetica, sans-serif;
  background-color: #579c87; }
.for_footer .lien_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 42%;
  border: 1px solid black;
  top: 223%; }

/*# sourceMappingURL=max_width_2560px.css.map */