@import "mixin_responsive/_mixin_responsive.scss";
h1 {
    font-size: 2rem;
}

.container {
    display: block;
}

.lien_cliquable {
    display: block;
    width: 100%;
    height: 30%;
    @include elementcenter();
}

.btn {
    width: 70%;
}

.lien_footer {
    &--responsive {
        font-size: 0.9rem;
    }
}