.titre_nav {
    height: 150px;
    font-size: 3rem;
}

.titre_page {
    font-size: 3rem;
    margin-bottom: 2%;
}

.container {
    &--palette {
        width: 50%;
        h2,
        h3,
        h6,
        .prix,
        .note_enchante {
            font-size: 2.5rem;
        }
        & .gradient {
            &--palette {
                font-size: 3rem;
            }
        }
    }
}

.for_footer {
    position: absolute;
    left: 0;
    bottom: 100px;
}

footer {
    width: 100%;
    & a {
        text-decoration: none;
        font-size: 2.5rem;
    }
    & .container_footer {
        display: flex;
        width: 100%;
        height: 100px;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        font-family: 'KronaOne-Regular', Arial, Helvetica, sans-serif;
    }
    & .lien_footer {
        width: 25%;
        display: flex;
        justify-content: center;
    }
}