@import "variable/variable.scss";
@import "animation/animation_menu.scss";
.palette {
    margin-top: -20%;
}

.palette_underline {
    margin-top: -15%;
}

.palette_adaptation {
    margin-top: -10%;
}

.underline {
    height: 90px;
}