.container {
    &--palette {
        margin-bottom: 15%;
        width: 80%;
    }
}

article {
    font-size: 1.5rem;
}

.for_footer {
    bottom: 40px;
}

footer {
    & .lien_footer {
        width: 35%;
        display: flex;
        justify-content: center;
    }
}

h6,
.prix {
    font-size: 1.5rem;
    margin: 1% 0 1% 0;
}