@mixin elementencolonne {
    display: flex;
    flex-direction: column;
}

@mixin elementcentre {
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin titre_menu {
    font-weight: bolder;
    font-size: 1.8rem;
}

@mixin degrade {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 1.5rem;
}