@import "polices_menu.scss";
@import "mixin_menu.scss";
body {
    @include elementencolonne();
    font-family: 'DancingScript-VariableFont_wght', Arial, sans-serif;
}

.container {
    width: auto;
    height: auto;
    margin: auto;
}

.titre_principal {
    @include elementencolonne();
    justify-content: center;
    align-items: center;
}

.prelude,
.point_orgue,
.mouvement_final {
    display: flex;
    @include elementcentre();
    font-weight: bolder;
    margin: 0 5% 0 5%;
    font-size: 1.8rem;
}

.prix {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 5%;
}

.separateur {
    margin: 0 5% 0 5%;
}

article {
    @include elementencolonne();
    font-size: 1.5rem;
    margin: 2% 0 2% 0;
    flex-direction: row;
    justify-content: space-between;
}

.container_menu {
    display: grid;
    @include elementcentre();
}

.container_note_enchante {
    display: flex;
    @include elementcentre();
    margin: 5% 0 0 0;
}

.note_enchante {
    margin: 0 0 0 2%;
}

.en_appetit,
.papilles,
.gourmandise_sucrées {
    @include titre_menu();
}