@import "polices_menu.scss";
@import "mixin_menu.scss";
body {
    @include elementencolonne();
    font-family: 'DancingScript-VariableFont_wght', Arial, sans-serif;
}

.container {
    width: auto;
    height: auto;
    margin: auto;
    &--note_enchanter {
        font-family: 'PatrickHand-Regular', arial, sans-serif;
    }
}

.background {
    background-color: #ffcccc;
    &--chic_francaise {
        background-color: #ffcccc;
        font-family: 'Roboto-Italic', arial, sans-serif;
    }
}

h3 {
    font-size: 1.5rem;
    &.rouge {
        color: #cc6600;
    }
    &.violet {
        color: #996699;
    }
    &.blue {
        color: #6633cc;
    }
}

.text {
    color: #cc6600;
    &--violet {
        color: #996699;
    }
    &--blue {
        color: #6633cc;
    }
}

.titre_principal {
    @include elementencolonne();
    @include elementcentre();
}

.prix {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 5%;
}

.separateur {
    margin: 0 5% 0 5%;
}

.logo {
    margin: 0 2% 0 0;
}

article {
    @include elementencolonne();
    font-size: 1.5rem;
    margin: 2% 0 2% 0;
    flex-direction: row;
    justify-content: space-between;
}

section {
    display: flex;
    @include elementcentre();
}

.container_menu {
    @include elementcentre();
}

.container_note_enchante {
    display: flex;
    @include elementcentre();
    margin: 5% 0 0 0;
}

.note_enchante {
    margin: 0 0 0 2%;
}

.gradient {
    background: -webkit-gradient(linear, left bottom, right bottom, from(#cc9900), to(#9966ff));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 1.5rem;
}