@import "variable/variable.scss";
@import "animation/animation_menu.scss";
.titre_page {
    margin-bottom: 2%;
}

.container {
    &--chic_francaise {
        margin-bottom: 10%;
    }
}

.prix {
    margin: 1% 1% 1% 1%;
    font-size: 1.5rem;
}

h6 {
    font-size: 1.5rem;
    margin: 1% 0 1% 0;
}

.underline {
    height: 75px;
}