@font-face {
    font-family: 'Lobster-Regular';
    src: url('../style_mention_legal/police_mention/teko/Teko-Medium.eot');
    src: url('../style_mention_legal/police_mention/teko/Teko-Medium.eot?#iefix') format('embedded-opentype'), url('../style_mention_legal/police_mention/teko/Teko-Medium.ttf') format('truetype'), url('../style_mention_legal/police_mention/teko/Teko-Medium.svg#Lobster-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}