@import "variable/variable";
.container {
    &--note_enchanter {
        width: 95%;
        margin: auto;
        margin-bottom: 20%;
    }
}

h1,
.logo {
    font-size: 1.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

img {
    width: 10%;
}

.titre_page {
    margin-bottom: 2%;
}

nav article {
    font-size: 2rem;
}

.separateur {
    display: none;
}

article {
    font-size: 1rem;
    margin: 2% 0 2% 0;
}

.prix {
    width: 25%;
    justify-content: flex-end;
    align-items: center;
}

footer {
    margin-top: -18%;
    height: 40px;
    & .wiggle {
        font-size: 0.8rem;
    }
}

.for_footer {
    position: absolute;
    left: 0;
    bottom: 20px;
}

footer {
    width: 100%;
    & a {
        color: $color_titre;
        text-decoration: none;
    }
    & .container_footer {
        display: flex;
        width: 100%;
        height: 60px;
        font-size: 0.9rem;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        font-family: 'KronaOne-Regular', Arial, Helvetica, sans-serif;
        background-color: $couleur_principal;
    }
    & .lien_footer {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}

h6 {
    font-size: 1rem;
    margin: 2% 0 2% 0;
}