@import "variable/variable";
@import "animation/animation_menu.scss";
.container {
    &--note_enchanter {
        width: 60%;
    }
}

.underline {
    width: auto;
    height: 80px;
}

.test {
    display: flex;
}